openapi: 3.0.0
info:
  title: Sample Service API
  description: This is a sample API description.
  version: 1.0.0
servers:
  - url: https://dpi.com/api
paths:
  /model/v1:
    get:
      summary: List all models
      responses:
        '200':
          description: A list of models
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Model'
    post:
      summary: Create a new model
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model'
      responses:
        '201':
          description: Model created successfully
  /model/v1/{id}:
    get:
      summary: Query a model
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Model details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
    put:
      summary: Update a model
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model'
      responses:
        '200':
          description: Model updated successfully
    delete:
      summary: Delete a model
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Model deleted successfully
components:
  schemas:
    Model:
      type: object
      properties:
        id:
          type: string
        name:
          type: string